<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #first{
            width: 100px;
            height: 100px;
            background-color: blue;
        }
    </style>
</head>
<body>
    <div id="first">
        <p>this. is a git test</p>
    </div>
    <script>
        window.onload = function () {
            console.log("git test");
            document.getElementById("first").onmousemove = function (){
                alert("经过我了");
                document.querySelector("p").innerHTML = "我就想便";
                console.log("我便好了");
            };

        }
    </script>
</body>
</html>